@import url('../css/fonts.css');

html,body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}


:root{

    /*Theme colors*/
    --charcoal:#2F4858;
    --QueenB:#33658A;
    --DarkBlue:#86BBD8;
    --HoneyYellow:#F6AE2D;
    --Orange:#F26419;
    /*Gradient Color*/
    --Rainy: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    /* Theme font family*/
    --Bungee:'Bungee_Inline',cursive;
    --Dosis:'Dosis',cursive;
    --Sans:'Work_Sans',cursive;
    --Catamaran:'Catamaran',cursive;
    --Merriweather:'Merriweather',cursive;
}
/*--------------Global Classes-------------*/
    a{
        text-decoration: none;
    }
    .flex-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    ul{
        list-style-type: none;
    }
    h1{
        font-family: var(--Catamaran);
        font-size: 2rem;
    }
    h2{
        font-family: var(--Rainy);
        font-size: 1.4rem;

    }
    h3{
        font-family: var(--Bungee);
        font-size: 0.9rem;
    }
    button.btn{
        border: none;
        border-radius: 2rem;
        padding: 1rem 3rem;
        font-size: 1rem;
        font-family:var(--Catamaran);
        cursor:pointer;
    }

    span{
        font-family: var(--Catamaran);
    }
    .container{
        margin: 0 4vw;
    }
/*--------------Global Classes-------------*/
/*------------------navbar-----------------*/

.nav{
    background: rgb(75, 216, 252);
    padding: 0 2rem;
    position: relative;
    height: 0rem;
    min-height: 9vh;
    overflow-y: hidden;
    transition: height 1s cubic-bezier(0.26,-0.01,0,1.01);
}
.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}
.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
}
.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--charcoal);
}
.collapse{
    height: 30rem;
}
.nav .nav-items{
    display: flex;
    margin: 0;
    position: relative;
}
.nav .nav-items .nav-link{
    padding: 1.2rem 1rem;
    font-size: 1rem 0;
    position: relative;
    font-family: var(--Dosis);
    font-size: 1.1rem;
}
.nav .nav-items .nav-link:hover{
    background-color: var(--charcoal);
}
.nav .nav-items .nav-link:hover a{
    color: white;
}
.nav .nav-brand a{
    font-size: 1.2rem;
    padding: 0.9rem 0;
    display: block;
    font-family: var(--Bungee);
}
.nav .social{
    padding: 1.4rem 0;
}
.nav .social i{
    padding: 0.2rem;
}
.nav .social i:hover{
  color:#a1c4cf;
}
.text-gray{
    color:#2F4858;
}
p{
    font-family:var(--Catamaran);
    color: lightgrey;
}
/*--------x----------navbar----------x-------*/
/*---------------------Main Content---------------------*/
/*---------------Site Title--------------*/
main .site-title{
    background: url('../Assets/Background-image.png');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}
main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: white;
}
main .site-title h1,h3{
    margin: 0.3rem;
}
main .site-title .btn{
    margin:1.5rem;
    background:var(--Rainy);
}
main .site-title .btn:hover{
    background: transparent;
    border: 1px ridge royalblue;
    color:silver;
}
main .move-down{
    position: absolute;
    right: 6%;
    top: 90%;
}
main .move-down span{
    color: white;
}
main .move-down span:hover{
    color:#a6c1ee;
    cursor: pointer;
}
/*-----------x---Site Tite---x----------*/
/*----------------Blog Carousel-----------*/
main .blog{
    background: url('../Assets/Abract01.png');
    background-repeat: no-repeat;
    background-position: right;
    height: 90vh;
    width: 100%;
    background-size: 65%;    
}
main .blog .blog-post{
    padding-top: 6rem;
}
main .blog-post .blog-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 2rem 1rem;
    box-shadow: 0 15px 20px rgba(0,0,0,0.2);
    height: 68vh;
}
main .blog-content .blog-title{
    padding: 2rem 0;
    height: 37vh;
    width: 100%;
}

main .blog-content .btn-blog{
    padding: .7rem 2rem;
    background: var(--HoneyYellow);
    margin: .5rem;
}
main .blog-content span{
    display: block;
}

main .blog-content img{
    height: 29vh;
}
section .container .owl-nav{
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
}
.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next{
color: slategray;
background: transparent;
font-size: 2rem;
}
.owl-theme .owl-nav [class*='owl-']:hover{
    background: transparent;
    color:#2F4858;
}
.owl-theme .owl-nav [class*='owl-']{
    outline: none;
}
/*------------x----Blog Carousel--x---------*/
/*-----------------Site Content--------------*/
main .site-content{
    display:grid;
    grid-template-columns: 70% 30%;
    padding-left: 6vh;
    padding-top: 3vh;
}
main .site-content .post-content >.post-image,.post-title{
    padding: 1rem 2rem;
    position: relative;
    
}
main .site-content .post-content >.post-image .post-info{
    background: var(--Rainy);
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    left: 20vw;
    border-radius: 3rem;
}
main .site-content .post-content > .post-image > div{
    overflow: hidden;
}

main .site-content .post-content > .post-image .img{
    width: 100%;
    transition: all 1s ease;
}
main .site-content .post-content > .post-image .img:hover{
    transform: scale(1.3);
}
main .site-content .post-content > .post-image .post-info span{
    margin: 0.5rem;
}
main .post-content .post-title a{
    font-family: var(--Merriweather);
    font-size: 1.5rem;
}
main .site-content .post-content .post-title .post-btn{
    border-radius: 0;
    padding: .7rem 1.5rem;
    background: var(--Rainy);
}
.site-content .pagination{
    justify-content:center;
    color:darkslategray;
    margin:2rem 0;
}
.site-content .pagination a{
    padding: .6rem .9rem;
    border-radius: 2rem;
    margin: 0 .3rem;
    font-family: var(--Sans);
}
.site-content .pagination .pages{
    background: var(--charcoal);
    color: white;
}
/*----------x------Site Content------x----------*/

/*------------Sidebar----------------------------*/
.site-content > .sidebar .category-list{
    font-family: var(--Dosis);

}
.site-content > .sidebar .category-list .list-items{
    background: var(--Rainy);
    padding: .4rem 1rem;
    margin: .8rem 0;
    border-radius: 3rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.site-content > .sidebar .category-list .list-items a{
    color: black;
}
.site-content .sidebar .popular-post .post-content{
    padding: 1rem 0;
}
.site-content .sidebar .popular-post h2{
    padding-top: 1rem;
}
.site-content .sidebar .popular-post .post-info{
    padding:.2rem .1rem !important;
    bottom:0rem !important;
    left: 1.5rem !important;
    border-radius: 0rem !important;
    background:white !important;
}
.site-content .sidebar .popular-post .post-title a{
    font-size: 1rem;
}
.site-content .sidebar .newsletter{
    padding-top: 3rem;
}
.site-content .sidebar .newsletter .form-element{
    padding: .5rem 2rem;
}
.site-content .sidebar .newsletter .input-element{
    width: 80%;
    height: 1.9rem;
    padding: .3rem .9rem;
    font-family: var(--Dosis);
    font-size: 1rem;
}
.site-content .sidebar .newsletter .form-btn{
    border-radius: 0rem;
    padding: .8rem 34%;
    margin: 1rem 0;
    background: var(--Rainy);
}
.site-content .sidebar .popular-tags{
    padding-top: 5rem 0;
}
.site-content .sidebar .popular-tags .tags .tag{
    background: var(--Rainy);
    padding: .4rem 1rem;
    border-radius: 3rem;
    margin: .4rem .6rem;
}
/*---------x--Sidebar--x-------------------------*/
/*----------x----------Main Content------------x--------*/

/*Creating toggle icon*/
.icon, .icon::before,.icon::after{
    position: relative;
    width: 10px;
    top: 9px;
    border: 2px solid var(--charcoal);
    border-radius: 3rem;
    display: inline-block;
    left: -15px;
}
.icon::before{
    content:" ";
    position: absolute;
    top:6px;
    width: 20px;
    left: -12px;
}
.icon::after{
    content:" ";
    position: absolute;
    top:15px;
    left: -2px;
}


/*               Footer               */
footer.footer{
    height: 100%;
    background:rgba(0,0,0);
    position: relative;
}
footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}
footer.footer .container h2{
    color: white;
}
footer.footer .newsletter .form-element{
    background: black;
    display: inline-block;
}
footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-family: var(--Sans);
    font-size: 1rem;
    width: 74%;
}
footer.footer .newsletter .form-element span{
    background: var(--Rainy);
    padding: .5rem .7rem;
    cursor: pointer;
}
footer.footer .instagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}
footer.footer .follow div i{
    color: white;
    padding: 0.4rem;
}
footer.footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;
}
footer.footer .move-up span{
    color: var(--charcoal);
}
footer.footer .move-up span:hover{
    color: white;
    cursor: pointer;
}
/*               Footer               */
/*              Viewport less then or equal to 1130px            */

@media only screen and (max-width: 1130px){
    .site-content .post-content > .post-image .post-info{
        left: 2rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }

    .site-content .sidebar .popular-post .post-info{
        display: none !important;
    }

    footer.footer .container{
        grid-template-columns: repeat(2, 1fr);
    }

}

/*      x       Viewport less then or equal to 1130px    x     */


/*               Viewport less than or equal to 750px                      */
@media only screen and (max-width:800px){
.nav .nav-menu,.nav .nav-items{
    flex-direction: column;
}
nav{
    flex-direction: column !important;
    display: block !important;
}
.nav .toggle-collapse{
    display: initial;
}
main .site-content{
    grid-template-columns: 100%;
}

footer.footer .container{
    grid-template-columns: repeat(1, 1fr);
}
}
/*         x      Viewport less than or equal to 750px        x              */
/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 520px){
    main .blog{
        height: 125vh;
    }

    .site-content .post-content > .post-image .post-info{
        display: none;
    }

    footer.footer .container > div{
        padding:  2rem 1.8rem !important;
    }

    footer .rights{
        padding: 0 1.4rem;
        text-align: center;
    }

    nav .toggle-collapse{
        width: 80% !important;
    }

}

/*        x      Viewport less then or equal to 520px       x     */